html{
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fafc;
  position: relative;
  width:100%;
  min-height: 100vh;

}

a{
  text-decoration: none;
}
a {
  color:#69696a;
}
main p{
  border-left:2px solid gray;
  position: relative;
  padding:10px;
  color:#69696a;

}

button {
  width:100%;
  color:white;
  background:#000
  ;
  border-radius: 10px;
  color:#fff;
}

header{
  display:flex;
  flex-direction: column;
}

header a{
  display:flex;
  flex-direction: column;
}

footer{
  background: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}